#login {
  
  &.hero-unit {

    @include box-shadow(0 1px 3px rgba(0,0,0,0.3));
    @include border-radius(0px);

    h2 {
      @include text-shadow(#fff);
    }

    fieldset.inputs {
      border:none;
      @include box-shadow(none);
      background:inherit;


       > ol > li.input {

        &.boolean {
          > label { 
            padding-left:0px;
            margin-left:0px;
          }
        }

        label.label {
          padding-left:0px;
        }

      }

    }

  }

}
