.paginated_collection_contents { 
  clear: both;
}

.pagination { 
  float: right; 
  font-size: 0.8em; 
  margin:0px 10px 0px; 

  ul {

    @include border-radius(0px);

    & > li > a, & > li > span {
      padding:2px 4px;
      margin-left:5px;
      @include border-radius(0px);
      @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
      @include box-shadow(0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0 rgba(255,255,255, 0.8) inset);
      border: solid 1px #c7c7c7;
      //@include border-colors(#d3d3d3, #c7c7c7, #c2c2c2);
      @include text-shadow;
      color: $primary-color;
    }

    & > li.active > a {
      @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
      @include text-shadow(#000);
      @include box-shadow(0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0px rgba(255,255,255, 0.2) inset);
      @include border-colors(#616a71, #484e53, #363b3f);
      color: #efefef;
      padding: 2px 5px;
    }

  }

}

.pagination_information { 
  float: right;
  margin:2px 0px;
  color: #b3bcc1;
  b { color: #5c6469; }
}

.download_links {
  float: left;
}
